{% extends 'skel/html.twig' %}

{% block section %}

<h2>{% trans %}Rallye Provins 2014-2015{% endtrans %}</h2>

<p>{% trans %}Rallye Provins is a web application created by a team of four students of IMAC engineering school. Visitors in Provins can use it to discover the town in an entertaining way.{% endtrans %}</p>

<div id='imac-link'>
  <a href='http://www.ingenieur-imac.fr/' title='' target='_blank'><img src='{{ GLOB.Router.root }}img/about-imac.png' alt='' /></a>
</div>

<p>
  {% set email = GLOB.data.contact.email %}
  {% trans %}If you have any comment or request, please contact us at <a href='mailto:{{ email }}' title=''>{{ email }}</a>{% endtrans %}
</p>

<h3>{% trans %}Rallye Provins was created by:{% endtrans %}</h3>

<ul>
  <li><em>Marie Benoist</em></li>
  <li><em>Matthieu Bresson</em></li>
  <li><em>Lisa Françoise</em></li>
  <li><em>Alice Neichols</em></li>
</ul>

<h4>{% trans %}With the help of our two tutors:{% endtrans %}</h4>

<ul>
  <li><em>Vincent Nozick - LIGM - U-PEM</em></li>
  <li><em>Tewfik Ettayeb - {% trans('Institute of Technology of Champs-sur-Marne, Department of Computer Science') %}</em></li>
</ul>

<h4>{% trans %}Many thanks to our translators:{% endtrans %}</h4>

<ul>
  <li><em>Dominique Touré - {% trans('Institute of Technology of Champs-sur-Marne, Department of Computer Science') %}</em> ({% trans %}English translation{% endtrans %})</li>
</ul>

<div id='academic-links'>
  <a href='http://esipe.u-pem.fr/' title='' class='float-right' target='_blank'><img src='{{ GLOB.Router.root }}img/about-esipe.png' alt='' /></a>

  <a href='http://www.u-pem.fr/' title='' target='_blank'><img src='{{ GLOB.Router.root }}img/about-upem.png' alt='' /></a>
</div>

<h3 class='copyright'>© Rallye Provins {{ "now"|date('Y') }}</h3>

{% endblock section %}

